
body{
    scroll-behavior: smooth;
}

.success_container{
    background-color: #fff;
    padding: 50px;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.addnew_investment {
    width: 60%;
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}

.success_svg{
    width:100%;
    height: 90px;
    justify-content: center;
    display: flex;
}

.success_text{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    color: 
    rgba(0, 0, 0, 1);
    
}

.success_text_2{
    width: 100%;
    margin-top: 20px;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
}


.takeaction_cont{
    background-color: #fff;
    padding: 10px;
    width: 100%;
    margin: auto; 
    
 
}

.takeactiongrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;

}
.actgridbox{
    border-radius: 9px;
    text-align: center;
    width: 100%;
    background: rgba(235, 127, 53, 0.2);
    padding: 20px;


}

.text_box{
    margin-top: 10px;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 13px;
letter-spacing: 0em;
text-align: center;
color: 
rgba(34, 34, 34, 1);
margin-bottom: 10px;
}


.transaction_flex_column_btn1 button{
    margin-top: 20px;
    position: relative;
    background-color: rgba(235, 127, 53, 1);
    border: 1px solid #fff;
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 9px;
    padding: 10px;
    width: 110px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .transaction_flex_column_btn1 button:hover{
    position: relative;
    background-color: rgb(245, 245, 245);
    border: 1px solid #EB7F35;
    color: #000;
  
  }

  .formmod{
    height: fit-content;
  }

  .addinvestmentcontainer {
    width: 100%;
    height: 50vh;
}

  @media only screen and (max-width: 890px) {
    .success_container {
        background-color: #fff;
        padding: 50px;
        width: 79%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .addnew_investment {
        width: 90%;
        background-color: #fff;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        border-radius: 5px;
    }

    .addinvestmentcontainer {
        width: 100%;
        height: 80vh;
        overflow-y: scroll;
    }
    .takeaction_cont {
        background-color: #fff;
        padding: 10px;
        width: 90%;
        margin: auto;
    }
  }

