body{
    background-color: purple;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification{
    margin-top: calc((100vh - 294px)/2);
    text-align: center;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 4px;
}
.notification h2{
    margin: 15px 0;
}
.notification button{
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    margin: 20px 0;
    background-color: #a91f2f;
    color: #fff;
    font-size: 12px;
}