*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.settings-wrapper{
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-columns:  1fr 4.5fr;
    grid-template-rows: 4.5rem;
    grid-template-areas: 
        "leftside head head"
        "leftside main main";
}
header{
    background-color: #f4f4f4;
    /* background-color: rgb(75, 255, 216); */
    grid-area: head;
}
.side-nav{
    background-color: #fff;
     /* background-color: palevioletred; */
    grid-area: leftside;
    padding: 1rem;
}

.main-content{
    /* background-color: blueviolet; */
    /* background-color: palevioletred; */
    grid-area: main;
    height: calc(100vh - 6rem);
    /* overflow-y: scroll; */
}
.settings-wrapper > * {
    /* color: black; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    padding: .5rem;
    border-radius: 0.3em;
}
body{
    background-color: #f4f4f4;
}

/* Profile Info Style*/
.profile-info{
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-radius: 5px;
    /* margin-top: 20px; */
    background-color: #fff;
}
.profile-name{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
.profile-info-contact{
    flex-grow: 2;
    padding-left: 30px;
}
.flex-info div{
    display: inline-block;
    /* padding-right: 30px; */
}
.flex-info{
    display: flex;
    justify-content: space-between;
}
.flex-info div:nth-child(3){
    margin-right: 50px;
}
.profile-info svg{
    align-self: flex-start;
}
.field{
    font-size: 14px;
    color: #424243;
    margin-bottom: 5px;
}
.property{
    font-size: 14px;
    font-weight: bold;
}

/*Style for link bar*/
.settings-link{
    margin-top: 20px;
    background-color: #e5e5e5;
    display: flex;
    text-align: center;
}
.settings-link a{
    color: #424243;
    text-decoration: none;
    font-size: 16px;
    flex-grow: 1;
    padding: 20px 10px;
    /* margin-right: 5px; */
    /* background-color: green; */
}
.settings-link a:focus{
    background-color: #a91f2f;
    color: white;
}

/*The Notifications Styles */
.notifications-text{
    margin-top: 40px;
}
.text{
    padding: 20px 10px;
    border-bottom: 1px solid #D9D5EC;
    display: flex;
    align-items: center;
}
.text span{
    width: 85%;
    display: inline-block;
}
.text-1{
    border-top: 1px solid #D9D5EC;
}
input[type="checkbox"]{
    margin-right: 3rem;
}
.notifications-text button{
    padding: 15px 50px;
    color: #a91f2f;
    border: none;
    margin-top: 20px;
    font-weight: 500;
    background-color: #fff;
    text-transform: uppercase;
}
