<!DOCTYPE html>
{%  load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
 
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/createinvestment.css' %}">
        <link rel="stylesheet" href="{% static 'css/atm.css' %}">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/layout.css">
        <link rel="stylesheet" href="css/createinvestment.css">
        <link rel="stylesheet" href="atm.css">
    </head>
    <body>
        <style>
            .form_body_row{
                flex-direction: row;
                margin-bottom: 10px;
            }

            .form_body_columm{
                width: 100%;
            }

            .status{
                color: green;
            }

            .amount{
                font-weight: 900;
            }

            .confirmation{
                color: red;
                font-weight: 900;
            }
            
        </style>
        <header class="header" data-header>
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="logo">
                       <a href="#">
                        <img src="img/Crystal-Logo 1.svg" alt="">
                       </a>
                    </div>

                    
                    <button type="button" class="nav-toggler">
                       <span></span>
                    </button>
                    <nav class="nav">
                       <ul>
                          <li><a href="" class="active">Dashboard</a></li>
                          <li><a href="loaninvestment.html">Loans</a></li>
                          <li><a href="withdrawal.html">Investment</a></li>
                          <li><a href="loaninvestment.html">Self Service</a></li>
                          <li><a href="userprofile.html">Contact</a></li>
                          <li> <a href=""> 
                            <div class="endnav m2wo">
                                <div class="headprofile_name">Oluwatosin Ajayi</div>  <div class="headprofile_img">
                                    <img src="https://images.unsplash.com/photo-1647733298832-07738aa106c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                                </div> 
                             </div>     
                        </a> </li>
                       </ul>

                    </nav>

                    <div class="endnav out">
                        <a href="personalinfo.html"> 
                        <div class="headprofile_name">Oluwatosin Ajayi</div>  <div class="headprofile_img">
                            <img src="https://images.unsplash.com/photo-1647733298832-07738aa106c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                        </div> 
                        </a>
                     </div>     
                   
                 
                </div>
            </div>
         </header>

         <div class="main-content container22">

            <div class="mycontent mycontents" style="flex-direction: column;">
                <div class="create_investment_header1">
                    <div class="back">
                    
                        Profile Update
                    </div>
            
                    <div class="close">
                        <i class="fa fa-times fa-1x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="progressdiv">
                    <div class="progress">
                        <div data-progress="20"> </div>
                      </div>
                </div>
                <div class="create_investment_form creativeform2 creativeform23">
                    
                    <div class="investment_form_title">
                        <h3>Payment Review</h3>

                    </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form_body">
        


                        <div class="form_body_row">
                            <div class="form_body_column">        
                                Test mode is a feature of Shopify Payments. You can use it to test how your customers pay for their orders, and to test how you and your staff process those orders. While test mode is activated, you can't use real credit cards to pay for orders. Some local payment methods, such as Sofort and iDEAL, aren't available in the checkout when test mode is activated. For these reasons, you shouldn't activate test mode on a store that's in production.
                                    
                            </div>
                        </div>

                        <div class="form_body_row">
                            <div class="form_body_column"> 
                                <label for="email">
                                    Email Address
                                </label> 
                            <input type="email" name="email" id="" value="{{request.user.email}}" readonly>
                            </div>
                        <div class="form_body_column"> 
                            <label for="amount">Amount to Be Charged</label> 
                            <input type="number" name="amount" id="" value="20000" readonly>
                         </div>
                        </div>
<div class="form_body_row">
    <div class="form_body_column">
{% if search_result %}
<hr>
{% if search_result.success %}
yes
    <h3>{{ search_result.data.authorization_url }}</h3>
    <P>{{ search_result.data.reference }}</P>

        <!-- <script>
            // showing message before redirecting
    // redirecting to a new page after 4 seconds
         setTimeout(function(){window.location = "{{ search_result.data.authorization_url }}";}, 6000); 
        </script> -->

{% else %}
{{ search_result.message }}
{% endif %}
{% endif %}
    </div>
</div>



                        <div class="form_body_row" >
   
                            <div class="form_button_row" 
                        >
                                <input type="submit" value="Create Account">
                            </div>
                        </div>
                        
        
        

        
        
        
            </div>
        
        </form>
                </div>
            </div>
        
        
        </div>




<script>
            
    const navToggler = document.querySelector(".nav-toggler");
    navToggler.addEventListener("click", navToggle);
   
    function navToggle() {
       navToggler.classList.toggle("active");
       const nav = document.querySelector(".nav");
       nav.classList.toggle("open");
       if(nav.classList.contains("open")){
           nav.style.maxHeight = nav.scrollHeight + "px";
       }
       else{
           nav.removeAttribute("style");
       }
    } 
           </script> 
        <script src="" async defer></script>
        <script src="progressbar.js"></script>
        <script src="nav.js"></script>
        <script src="{% static 'js/nav.js' %}"></script>
    </body>
</html>
